<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-My App</title>
</head>
<body>
    <nav>
        <a href="/Product">Products</a>
    </nav>
    <hr/>
    @RenderBody()
    <hr/>

    <footer>
        <p>&copy;2026 DAY-6-PRACTICE</p>
    </footer>
</body>
</html>
